beautifulsoup4==4.12.3
crossplane==0.5.8
jellyfish==1.1.0
jproperties==2.1.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
luhn==0.2.0
lxml==5.3.0
PyYAML==6.0.2
semgrep==1.85.0; sys_platform != 'win32'
six==1.16.0
soupsieve==2.6
typing_extensions==4.12.2
wrapt==1.16.0