attrs==24.2.0
beautifulsoup4==4.12.3
boltons==21.0.0
bracex==2.5.post1
click==8.1.7
click-option-group==0.5.6
colorama==0.4.6
crossplane==0.5.8
defusedxml==0.7.1
exceptiongroup==1.2.2
face==22.0.0
glom==22.1.0
jellyfish==1.1.0
jproperties==2.1.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
luhn==0.2.0
lxml==5.3.0
packaging==24.1
peewee==3.17.6
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.20.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
semgrep==1.85.0; sys_platform != 'win32'
six==1.16.0
soupsieve==2.6
tomli==2.0.2
typing_extensions==4.12.2
wcmatch==8.5.2
wrapt==1.16.0